/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-font);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--wght-text);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: grid;
  margin-inline: auto;
  margin-block: 100px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.header__title {
  padding-block-start: 120px;
  font-family: var(--accent-font);
  font-weight: var(--acccent-wght);
  font-size: var(--header-title-size);
  line-height: var(--header-title-line-height);
  text-align: center;
  text-transform: uppercase;
}

.header__text {
  padding-block-start: 20px;
  font-family: var(--accent-font);
  font-size: var(--header-text-size);
  line-height: var(--header-text-line-height);
  text-align: center;
  text-transform: uppercase;
}

.theme-menu {
  justify-self: center;
  padding-inline-start: 20px;
  padding-block-start: 25px;
  padding-block-end: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 2;
  left: -16px;
  width: 14px;
  height: 14px;
  animation: header-button-animation 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.card-list {
  display: grid;
  gap: 50px;
  margin-inline: auto;
  margin-block-end: 52px;
}

.card-list__item {
  background-color: var(--background-color);
}

.card {
  display: grid;
  border: 2px solid var(--accent-color);
}

.card__header {
  border-block-end: 2px solid var(--accent-color);
  padding-inline: 11px;
  padding-block: 4px;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: 'wght' var(--wght-title);
}

.card__container {
  position: relative;
  max-block-size: 371px;
}

.card__img {
  position: relative;
  object-fit: cover;
  inline-size: 100%;
  block-size: 371px;
}

.card__img-filter-brightness {
  filter: brightness(75%);
}

.card__img-filter-contrast {
  filter: contrast(90%);
}

.card__img-filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.card__img-filter-blur {
  filter: blur(0.05rem);
}

.card__img-filter-opacity {
  filter: opacity(0.8);
}

.card__img-filter-saturate {
  filter: saturate(250%);
}

.card__img-filter-grayscale {
  filter: grayscale(0.8);
}

.card__img-multiple-filter {
  filter: saturate(70%) contrast(40%);
}

.card__label {
  position: absolute;
  top: 23px;
  right: 12px;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 14px;
  /* text-transform: uppercase; */
  text-shadow: -1px 0 var(--background-color),
    0 1px var(--background-color), 1px 0 var(--background-color),
    0 -1px var(--background-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.card__text-container {
  display: grid;
  gap: 27px;
  border-block-start: 2px solid var(--accent-color);
  padding-inline: 25px;
  padding-block: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
  margin-block-end: 25px;
  padding-inline-end: 25px;
  block-size: 38px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--accent-color);
  background: transparent;
  cursor: pointer;
  inline-size: 130px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: 0.3s ease;
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  color: var(--button-like-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.save__button-container {
  display: flex;
  justify-content: center;
  margin-block-end: 100px;
}

.save__button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  cursor: pointer;
  inline-size: 306px;
  block-size: 80px;
}

.save__button svg {
  color: var(--button-like-color);
  mix-blend-mode: difference;
  inline-size: 28px;
  block-size: 28px;
}

.save__button:focus {
  outline: none;
}

.save__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: 0.3s ease;
}

.save__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.save__button:hover::before {
  transform: scaleX(1);
}

.save__dialog {
  position: fixed;
  inset: 0;
  padding: 0;
  color: var(--accent-color);
  background-color: var(--background-color);
  transition: opacity 0.3s ease-in-out;
  inline-size: 341px;
  block-size: 191px;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.save__dialog::backdrop {
  opacity: 0.75;
  background: #000000;
}

.dialog__container {
  display: grid;
  grid-template-columns: 1fr 198px;
  gap: 20px;
  padding-inline: 42px;
  padding-block: 30px;
}

.dialog__floppy {
  align-self: center;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__close-button {
  position: relative;
  margin-inline-start: 42px;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  inline-size: 257px;
  block-size: 38px;
}

.dialog__close-button:focus {
  outline: none;
}

.dialog__close-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: 0.3s ease;
}

.dialog__close-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.dialog__close-button:hover::before {
  transform: scaleX(1);
}

@media (width > 375px) {
  .header {
    max-inline-size: 700px;
    min-block-size: 368px;
  }

  .header__title {
    padding-block-start: 136px;
  }

  .card-list {
    margin-block-end: 50px;
    max-inline-size: 696px;
  }

  .card__container {
    max-block-size: 696px;
  }

  .card__img {
    block-size: 696px;
  }

  .card__label {
    top: 25px;
    right: 25px;
  }

  .save__button-container {
    margin-block-end: 103px;
  }

  .save__button {
    flex-direction: row;
    inline-size: 335px;
    block-size: 55px;
  }

  .save__button svg {
    inline-size: 21px;
    block-size: 21px;
  }

  .save__dialog {
    inline-size: 353px;
    block-size: 191px;
  }

  .dialog__container {
    grid-template-columns: 1fr 234px;
    padding-inline: 30px;
  }

  .dialog__close-button {
    margin-inline-start: 30px;
    inline-size: 293px;
  }
}